@import url("./common.css");

body {
  color: var(--text-color01);
  background-color: var(--black);
}


.row-rev {
  flex-direction: row-reverse;
}

.sec_title {
  margin-bottom: 60px;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.mb0 {
  margin-bottom: 0;
}

.about_wrapper {
  width: 100%;

  .about_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .about_img {
      width: 35%;
      max-width: 539px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about_area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(65% - 40px);
      background-color: #1E212A;

      .about_spot {
        width: 90%;

        .about_title {
          position: relative;
          font-size: 30px;
          font-weight: 600;
          color: var(--white);
          text-transform: uppercase;
        }

        p {
          font-size: 16px;
          margin-top: 20px;
        }
      }


    }

  }
}

.bg_sec {
  width: 100%;
  height: 520px;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.sec_img01 {
  background-image: url('../image/about_img/about_bg01.jpeg');
}

.sec_img02 {
  background-image: url('../image/about_img/about_bg02.jpeg');
}

.sec_img03 {
  background-image: url('../image/about_img/about_bg03.jpeg');
}

.sec_img04 {
  background-image: url('../image/about_img/about_bg04.jpeg');
}


@import "_about";