@import url("./common.css"); /*# sourceMappingURL=detail.css.map */

/*  /////////////////  메인  /////////////////   */
body {
  position: relative;
  height: 100vh;
}
body .curtain {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
  transition: height 1000ms;
}
body .curtain.active {
  height: 0;
}
/*//////////////////////////*/

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.detail_main_visual {
  width: 100%;
  height: 100vh;
  background-image: url("../image/detail_img/detail_01_visual02.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 180px;
  left: 0;
  top: 0;
  transition: 1.5s;
}

.detail_image_wrapper {
  /* border: 1px solid red; */
  display: flex;
  opacity: 0;
  transition: 2s;
  transform: translateY(50%);
}
.detail_image_wrapper.active {
  opacity: 1;
  transform: translateY(0%);
  margin-bottom: 0;
}


.detail_cont {
  /* border: 3px solid black; */
  width: 50%;
}
.detail_cont > img {
  width: 100%;
}
.detail_area {
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: left;
  /* padding: 0 150px; */
}
.detail_spot > h2 {
  margin-bottom: 15px;
  font-style: Mukta;
  font-size: 40px;
  font-weight: 600;
}
.detail_spot > p {
  font-style: Mukta;
  font-size: 25px;
  font-weight: 300;
}
.detail_spot {
  width: 80%;
}

.detail_text_wrapper {
  display: flex;
  opacity: 0;
  transition: 2s;
  transform: translateY(50%);
}
.detail_text_wrapper.active {
  opacity: 1;
  transform: translateY(0%);
  margin-bottom: 0;
}

.detail_img_area {
  width: 50%;
}
.detail_img_area > img {
  width: 100%;
}

/*///////////////////   스크롤    ///////////////////////*/
.detail_recommend_wrapper {
  /* border: 1px solid black; */
  position: relative;
  margin-bottom: 180px;
  margin-top: 180px;
}
.detail_recommend_wrapper > h2 {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-style: Mukta;
  font-size: 40px;
  font-weight: 600;
}

.detail_recommend_area{
  /* border: 1px blue solid; */
  height: 450px;
}
.swiper-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0;
  width: 80%;
}
.swiper-slide > img{
width: 350px;
}
.swiper-slide-active{
color: red;
}
.swiper-button-prev:after{
color: black;
}
.swiper-button-next:after{
color: black;
}

@media screen and (max-width: 1400px) {
  body {
    position: relative;
    height: 100vh;
  }
  body .curtain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
    transition: height 1000ms;
  }
  body .curtain.active {
    height: 0;
  }
  /*//////////////////////////*/
  
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .detail_main_visual {
    width: 100%;
    height: 100vh;
    background-image: url("../image/detail_img/detail_01_visual02.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 180px;
    left: 0;
    top: 0;
    transition: 1.5s;
  }
  
  .detail_image_wrapper {
    /* border: 1px solid red; */
    display: flex;
    opacity: 0;
    transition: 2s;
    transform: translateY(50%);
  }
  .detail_image_wrapper.active {
    opacity: 1;
    transform: translateY(0%);
    margin-bottom: 0;
  }
  
  
  .detail_cont {
    /* border: 3px solid black; */
    width: 50%;
  }
  .detail_cont > img {
    width: 100%;
  }
  .detail_area {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: left;
    /* padding: 0 150px; */
  }
  .detail_spot > h2 {
    margin-bottom: 15px;
    font-style: Mukta;
    font-size: 30px;
    font-weight: 600;
  }
  .detail_spot > p {
    font-style: Mukta;
    font-size: 20px;
    font-weight: 300;
  }
  .detail_spot {
    width: 80%;
  }
  
  .detail_text_wrapper {
    display: flex;
    opacity: 0;
    transition: 2s;
    transform: translateY(50%);
  }
  .detail_text_wrapper.active {
    opacity: 1;
    transform: translateY(0%);
    margin-bottom: 0;
  }
  
  .detail_img_area {
    width: 50%;
  }
  .detail_img_area > img {
    width: 100%;
  }
  
  /*///////////////////   스크롤    ///////////////////////*/

  .detail_recommend_wrapper {
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 180px;
  }
  .detail_recommend_wrapper > h2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-style: Mukta;
    font-size: 30px;
    font-weight: 600;
  }

  .detail_recommend_area{
    /* border: 1px blue solid; */
    height:400px;
    width: 100%;
  }
  
  .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    /* border: 1px solid red; */
  }
  .swiper-slide > img{
  width: 280px;
  }
}

/*///////////   태블릿  가로   /////////////*/

@media screen and (max-width: 1023px) {
  body {
    position: relative;
    height: 100vh;
  }
  body .curtain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
    transition: height 1000ms;
  }
  body .curtain.active {
    height: 0;
  }
  /*//////////////////////////*/
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .detail_main_visual {
    width: 100%;
    height: 100vh;
    background-image: url("../image/detail_img/detail_01_visual02.jpg");
    margin-bottom: 6.5rem;
    transition: 1.5s;
  }

  .detail_image_wrapper {
    /* border: 1px solid red; */
    display: flex;
    opacity: 0;
    transition: 2s;
    transform: translateY(50%);
  }
  .detail_image_wrapper.active {
    opacity: 1;
    transform: translateY(0%);
    margin-bottom: 0;
  }
  .detail_cont {
    /* border: 3px solid black; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
  }
  .detail_cont > img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .detail_area {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
    order: 0;
  }
  .detail_spot > h2 {
    margin-bottom: 10px;
    font-size: 23px;
  }
  .detail_spot > p {
    font-size: 18px;
    line-height: 20px;
  }
  .detail_spot {
    width: 90%;
  }
  .detail_img_area {
    order: 1;
  }
  .detail_img_area > img {
    margin-bottom: 20px;
  }

  .detail_text_wrapper {
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 4.5rem;
  }
  .detail_img_area {
    width: 100%;
    margin: 0 auto;
    order: 0;
  }
  .detail_img_area > img {
    width: 100%;
  }

  /*///////////////////   스크롤    ///////////////////////*/

  .detail_recommend_wrapper {
    /* border: 1px solid black; */
    position: relative;
    margin-top: 6.5rem;
  }
  .detail_recommend_wrapper > h2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-style: Mukta;
    font-size: 23px;
    font-weight: 600;
  }

  .detail_recommend_area{
    /* border: 1px blue solid; */
    height:400px;
    width: 90%;
  }
  
  .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    /* border: 1px solid red; */
  }
  .swiper-slide > img{
  width: 280px;
  }
}

/*///////////   태블릿  세로   /////////////*/

@media screen and (max-width: 767px) {
  body {
    position: relative;
    height: 100vh;
  }
  body .curtain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
    transition: height 1000ms;
  }
  body .curtain.active {
    height: 0;
  }
  /*//////////////////////////*/
  
  section {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .detail_main_visual {
    width: 100%;
    height: 250px;
    background-image: url("../image/detail_img/detail_01_visual02.jpg");
    margin-bottom: 6.5rem;
  }

  .detail_image_wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .detail_cont {
    /* border: 3px solid black; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .detail_cont > img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .detail_area {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
    order: 1;
  }
  .detail_spot > h2 {
    margin-bottom: 10px;
    font-size: 23px;
  }
  .detail_spot > p {
    font-size: 18px;
    line-height: 20px;
  }
  .detail_spot {
    width: 90%;
  }
  .detail_img_area {
    order: 0;
  }
  .detail_img_area > img {
    margin-bottom: 20px;
  }

  .detail_text_wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
  }
  .detail_img_area {
    width: 90%;
    margin: 0 auto;
    order: 0;
  }
  .detail_img_area > img {
    width: 100%;
  }

  /*///////////////////   스크롤    ///////////////////////*/

  .detail_recommend_wrapper {
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 6.5rem;
  }
  .detail_recommend_wrapper > h2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-style: Mukta;
    font-size: 30px;
    font-weight: 600;
  }

  .detail_recommend_area{
    /* border: 1px blue solid; */
    height:300px;
    width: 100%;
  }
  
  .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    /* border: 1px solid red; */
  }
  .swiper-slide > img{
  width: 200px;
  }
}





@media screen and (max-width: 480px) {
  .detail_main_visual {
    height: 300px;
    background-image: url("../image/detail_img/detail_01_visual02.jpg");
    margin-bottom: 6.5rem;
  }

  .detail_image_wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .detail_cont {
    /* border: 3px solid black; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .detail_cont > img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .detail_area {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
    order: 1;
  }
  .detail_spot > h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .detail_spot > p {
    font-size: 15px;
    line-height: 20px;
  }
  .detail_spot {
    width: 100%;
  }
  .detail_img_area {
    order: 0;
  }
  .detail_img_area > img {
    margin-bottom: 20px;
  }

  .detail_text_wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
  }
  .detail_img_area {
    width: 100%;
    /* margin: 0 auto; */
    order: 0;
  }
  .detail_img_area > img {
    width: 100%;
  }

  /*///////////////////   스크롤    ///////////////////////*/

  .detail_recommend_wrapper {
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 180px;
  }
  .detail_recommend_wrapper > h2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-style: Mukta;
    font-size: 20px;
    font-weight: 600;
  }

  .detail_recommend_area{
    /* border: 1px blue solid; */
    height: 400px;
    width: 100%;
  }
  
  
  .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    width: 80%;
  }
  .swiper-slide > img{
  width: 300px;
  }  
}