@import url("./common.css");


body {
  background-color: var(--black);
  color: var(--text-color01);
}






// index common css

a.more_btn {
  width: 220px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid #7C6D56;
}



// main common title


h2 {
  text-align: center;
  margin-bottom: 60px;

  .main_title {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 2px;
      position: absolute;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color2);

    }
  }
}


// main movie

.main_movie {
  width: 100%;

  video {
    width: 100%;
  }
}




// best collection

.collection_wrapper {
  width: 100%;

  .collection_list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    figure {
      width: calc(25% - 20px);
      max-width: 335px;

      img {
        width: 100%;
      }

      figcaption {
        margin-top: 15px;
        font-size: 30px;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;
      }
    }

  }
}


// purfume of the month


.month_wrapper {
  width: 100%;

  .month_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;

    &:nth-of-type(2) {
      flex-direction: row-reverse;
      margin-bottom: 0;

      .month_area {
        background-color: #000;
      }
    }

    .month_img {
      width: 35%;
      max-width: 539px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .month_area {
      width: calc(65% - 40px);
      padding: 50px;
      background-color: #1E212A;

      .month_title {
        position: relative;
        font-size: 30px;
        font-weight: 600;
        color: var(--white);
        text-transform: uppercase;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 0;
          background-color: #7C6D56;
        }
      }

      p {
        &:nth-of-type(1) {
          margin-top: 40px;
        }

        &:nth-of-type(2) {
          margin-top: 30px;
        }
      }
    }

  }
}



// new collection

.new_wrapper {
  width: 100%;

  .new_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .new_area {
    width: 47%;
    max-width: 700px;

    .new_spot {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .new_text_spot {
      margin-top: 15px;

      b {
        margin-bottom: 20px;
        font-size: 30px;
        text-transform: uppercase;
      }

    }
  }
}




// perfume make

// wrap -> cont -> area -> spot -> box

.making_perfume_wrapper {
  width: 100%;
  height: 740px;
  padding-top: 150px;
  background-image: url('../image/index_img/make.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .wrap {
    display: flex;
    justify-content: flex-end;

    .making_perfume_cont {
      color: var(--white);
      text-align: left;
      text-transform: uppercase;

      h2 {
        margin-bottom: 0;
        font-size: 48px;
        font-weight: 600;
      }

      p {
        &:nth-of-type(1) {
          font-size: 40px;
          font-weight: 600;
        }

        &:nth-of-type(2) {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }

  }
}